._*
*.pyc
*.log
*.DS_Store
index.php
recompile.sh

archive
suppliedInput
www
HqT
tmp
minimalHbbDebug

workspaces_*
derivedTheoryFiles_*
Scan_*
plots_*
corrMat_*
correlationMatrices_*
postfitWSs_*
parametrizationTexs_*
higgsCombine_debugging*
